{% extends 'base.html' %}
{% block body %}

Here's an empty table:
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    {% for key in melon_dict.keys() %}
    <tr> <td>{{ melon_dict[key][0] }}</td>
         <td>{{ melon_dict[key][2] }}</td>
         <td>{{ melon_dict[key][1] }}</td>
         <td>{{ melon_dict[key][1] * melon_dict[key][2] }} </td>
    </tr>
    {% endfor %}
</table>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
